@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* light */
    --foreground: 240 22% 8%; /* dark */

    --card: 189 70% 98%; /* light */
    --card-foreground: 240 22% 8%; /* dark */

    --popover: 0 0% 94%; /* light */
    --popover-foreground: 0 0% 20%; /* dark */

    --primary: 0 100% 67%; /* primary */
    --primary-foreground: 0 0% 100%; /* light */

    --secondary: 187 66% 48%; /* secondary */
    --secondary-foreground: 0 0% 100%; /* light */

    --muted: 189 70% 98%; /* Assuming a light gray, not defined in Tailwind config, placeholder for actual value */
    --muted-foreground: 240 22% 8%; /* Assuming a light gray, not defined in Tailwind config, placeholder for actual value */

    --accent: 45 99% 70%; /* secondary */
    --accent-foreground: 240 22% 8%; /* light */

    --destructive: 355 78% 56%; /* primary */
    --destructive-foreground: 0 0% 100%; /* light */

    --border: 240 9% 91%; /* Assuming a light gray, not defined in Tailwind config, placeholder for actual value */
    --input: 240 9% 91%; /* Same as above */
    --ring: 0 100% 67%; /* dark */

    --radius: 1.25rem; /* From borderRadius.DEFAULT */
  }

  .dark {
    --background: 240 22% 8%; /* dark */
    --foreground: 0 0% 100%; /* light */

    --card: 240 22% 8%; /* dark */
    --card-foreground: 0 0% 100%; /* light */

    --popover: 0 0% 20%; /* dark */
    --popover-foreground: 0 0% 100%; /* light */

    --primary: 0 0% 100%; /* light */
    --primary-foreground: 0 0% 0%; /* dark */

    --secondary: 187 66% 48%; /* secondary */
    --secondary-foreground: 0 0% 100%; /* light */

    --muted: 240 22% 8%; /* dark */
    --muted-foreground: 0 0% 100%; /* light */

    --accent: 45 99% 70%; /* secondary */
    --accent-foreground: 240 22% 8%; /* dark */

    --destructive: 355 78% 56%; /* primary */
    --destructive-foreground: 0 0% 100%; /* light */

    --border: 240 22% 8%; /* dark */
    --input: 240 22% 8%; /* Same as above */
    --ring: 0 0% 100%; /* light */
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }

  body {
    @apply text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-lg md:text-xl xl:text-2xl;
  }
}

.btn {
  @apply relative px-6 py-3 text-lg font-bold text-center rounded-2xl cursor-pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="week"],
textarea {
  @apply relative w-full px-4 py-3 font-bold transition-all border rounded-2xl outline-0 appearance-none bg-card focus:outline-1 focus-within:outline-1 outline-secondary/20 focus:border-secondary;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input.error {
  @apply text-red-400 bg-red-400/5 border-red-400;
}

.link {
  @apply cursor-pointer hover:underline underline-offset-1 decoration-primary transition-all;
}

.card {
  @apply bg-white/60 border-2 shadow rounded-2xl p-2 md:p-4 border-white;
}

.layout {
  @apply relative py-24 space-y-12 md:py-32;
}

hr {
  @apply w-full;
}

.mask-borders {
  -webkit-mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    black 2.5%,
    black 97.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.swiper-pagination-horizontal {
  @apply !h-4 !rounded-2xl !mx-8 overflow-hidden;
  width: calc(100% - 4rem) !important;
}

body {
  @apply bg-background text-foreground;
}
.tlui-button::after {
  @apply !rounded-2xl !overflow-hidden;
}

.tlui-toolbar__tools {
  @apply !rounded-2xl !shadow border border-white/20 bottom-20 !bg-white/30;
  background-image: radial-gradient(
    100% 150% at 50% 0%,
    #ffffffff 0%,
    #ffffff99 100%
  ) !important;
}

.tlui-toolbar__extras__controls {
  @apply bottom-20;
}

.tlui-menu-zone,
.tlui-debug-panel {
  @apply !hidden;
}

.tl-container.stickycovers-theme {
  --color-accent: hsl(var(--secondary));
  --color-background: transparent;
  --color-brush-fill: rgba(144, 144, 144, 0.1);
  --color-brush-stroke: rgba(144, 144, 144, 0.25);
  --color-grid: hsl(var(--secondary));
  --color-low: #edf0f2;
  --color-low-border: #e7ebee;
  --color-culled: #ebeef0;
  --color-muted-none: rgba(0, 0, 0, 0);
  --color-muted-0: rgba(0, 0, 0, 0.02);
  --color-muted-1: rgba(0, 0, 0, 0.1);
  --color-muted-2: rgba(0, 0, 0, 0.043);
  --color-hint: rgba(0, 0, 0, 0.055);
  --color-overlay: rgba(0, 0, 0, 0.2);
  --color-divider: #e8e8e8;
  --color-panel-contrast: #fff;
  --color-panel-overlay: rgba(255, 255, 255, 0.82);
  --color-panel: #fdfdfd;
  --color-focus: hsl(var(--secondary));
  --color-selected: hsl(var(--secondary));
  --color-selected-contrast: #fff;
  --color-selection-fill: rgba(30, 144, 255, 0.024);
  --color-selection-stroke: hsl(var(--secondary));
  --color-text-0: #1d1d1d;
  --color-text-1: #2d2d2d;
  --color-text-3: #a4a5a7;
  --color-text-shadow: #fff;
  --color-primary: hsl(var(--secondary));
  --color-warn: #d10b0b;
  --color-text: #000;
  --color-laser: red;
  --shadow-1: 0px 0.5rem 2.5rem -0.5rem rgba(30, 0, 82, 0.125);
  --shadow-2: 0px 0.5rem 2.5rem -0.5rem rgba(30, 0, 82, 0.125);
  --shadow-3: 0px 0.5rem 2.5rem -0.5rem rgba(30, 0, 82, 0.125);
  --shadow-4: 0px 0.5rem 2.5rem -0.5rem rgba(30, 0, 82, 0.125);
}
